<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Query Selection</Name><AddInID>{da067a95-0738-424f-9e01-1186d722d31f}</AddInID><Description>Query Selection Addin</Description><Version>1.0</Version><Image>Images\EDHighlight.png</Image><Author>James Stephaniuk</Author><Company>EBC</Company><Date>12/11/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="QuerySelection_addin.py" namespace="QuerySelection_addin"><ArcMap>
    <Commands>
        <Button caption="Query Selection" category="Query Selection" class="QuerySelection" id="QuerySelection_addin.querySelection" image="Images\spatialQuery.png" message="Select the features on map that you want to display and hit this button." tip="Create a definition query of selected features."><Help heading="" /></Button>
        <Button caption="Clear Selection" category="Query Selection" class="ClearSelection" id="QuerySelection_addin.clearSelection" image="Images\ClearQueryCube.png" message="Clear the definition query of the layer selected in the table of contents." tip="Clear query"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        </Toolbars>
    <Menus>
        <Menu caption="Selection" category="Query Selection" id="QuerySelection_addin.selection_menu" isRootMenu="true" isShortcutMenu="false" separator="true"><Items><Button refID="QuerySelection_addin.querySelection" /><Button refID="QuerySelection_addin.clearSelection" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>