<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Dynamic_Elements</Name><AddInID>{e4528db6-a9cd-4b6f-a805-360334312963}</AddInID><Description>Dynamically size and position map elements.</Description><Version>1.0</Version><Image>Images\eye-chart.png</Image><Author>James Stephaniuk</Author><Company>EBC</Company><Date>11/09/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="Dynamic_Elements_addin.py" namespace="Dynamic_Elements_addin"><ArcMap>
    <Commands>
        <Button caption="SVA_Box_Sizing Button" category="Dynamic_Elements" class="SVA_BoxSizing_Btn" id="Dynamic_Elements_addin.svaButton" image="Images\Textbox.png" message="SVA_Box_Sizing" tip="SVA_Box_Sizing"><Help heading="SVA_Box_Sizing">SVA_Box_Sizing</Help></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Dynamic_Elements" class="SVA_Box_Sizing" description="Automatically size and position SVA graphic box elements" id="Dynamic_Elements_addin.DynElem_Ext" name="SVA_Box_Sizing" productName="SVA_Box_Sizing" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="DynamicElements" category="Dynamic_Elements" id="Dynamic_Elements_addin.toolbar" showInitially="true"><Items><Button refID="Dynamic_Elements_addin.svaButton" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>