<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Content &amp; Layout Helper</Name><AddInID>{cbf16477-d233-4a5d-b9bc-b57c11874d8c}</AddInID><Description>DDP layout Helper &amp; FGDB loader</Description><Version>0.3</Version><Image>Images\world.png</Image><Author>James Stephaniuk</Author><Company>BC Electoral Boundaries Commission</Company><Date>02/16/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="Add_Ins_addin.py" namespace="Add_Ins_addin"><ArcMap>
    <Commands>
        <Button caption="Reset Layout" category="Content &amp; Layout Helper" class="ResetLayout" id="Add_Ins_addin.button" image="Images\LayoutToolbar.png" message="Reset Layout" tip="Reset Layout of current page"><Help heading="Reset Layout">Reset the layout of insets and map surround elements of current page to default layout.</Help></Button>
        <Button caption="Record Page Layout" category="Content &amp; Layout Helper" class="RecordLayout" id="Add_Ins_addin.button_1" image="Images\button_grey_record.png" message="Record Page Layout" tip="Record Current Page Layout"><Help heading="Record Page Layout">Record current page layout for use in pdf exporting.</Help></Button>
        <Button caption="Restore Layout" category="Content &amp; Layout Helper" class="RestoreLayout" id="Add_Ins_addin.button_2" image="Images\restoreLayout.png" message="Restores a previously recorded layout for the current page." tip="Restore saved layout"><Help heading="Restore Layout">Restore the previously recorded layout for the current page.</Help></Button>
        <Button caption="Load FGDBs" category="Content &amp; Layout Helper" class="LoadFGDBs" id="Add_Ins_addin.button_3" image="Images\Database 1.png" message="Loads the file geodatabases for the current data driven page." tip="Load geodatabases"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="DDP_Layout_Toolbar" category="Content &amp; Layout Helper" id="Add_Ins.layoutToobar" showInitially="true"><Items><Button refID="Add_Ins_addin.button" /><Button refID="Add_Ins_addin.button_1" /><Button refID="Add_Ins_addin.button_2" /><Button refID="Add_Ins_addin.button_3" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>