<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>PDF Exporter</Name><AddInID>{e1c9e822-9d68-447f-a1ce-e810cb6f8e31}</AddInID><Description>Exports PDF in either RGB at 144 dpi or CMYK at 288 dpi</Description><Version>0.1</Version><Image>Images\pdf-icon.png</Image><Author>James Stephaniuk</Author><Company /><Date>05/20/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="PDF_Export_Addin_addin.py" namespace="PDF_Export_Addin_addin"><ArcMap>
    <Commands>
        <Button caption="Export current page to RGB 144 dpi" category="PDF Exporter" class="RGB144dpi" id="PDF_Export_Addin_addin.button" image="Images\rgb.png" message="User specified directory" tip="Export current page to RGB 144 dpi"><Help heading="Help is on the way...maybe">See the script author (James) for assistance</Help></Button>
        <Button caption="Export current page to CMYK 288 dpi" category="PDF Exporter" class="CMYK288dpi" id="PDF_Export_Addin_addin.button_1" image="Images\cmyk.png" message="User specified directory" tip="Export current page to CMYK 288 dpi"><Help heading="Now you've done it...">See the script author (James) for assistance</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Custom PDF Export" category="PDF Exporter" id="PDF_Export_Addin_addin.toolbar" showInitially="true"><Items><Button refID="PDF_Export_Addin_addin.button" /><Button refID="PDF_Export_Addin_addin.button_1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>