<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>ClassBased_PDF_Export</Name><AddInID>{63e6331a-d0b9-41ba-a04a-e26b2d0d63d0}</AddInID><Description>Class based PDF Export for data driven pages enabled mxd.</Description><Version>0.2</Version><Image>Images\dartboard.png</Image><Author>James Stephaniuk</Author><Company /><Date>02/26/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="ClassBased_PDF_Export_addin.py" namespace="ClassBased_PDF_Export_addin"><ArcMap>
    <Commands>
        <Button caption="RGB72dpi" category="ClassBased_PDF_Export" class="RGB72dpi" id="ClassBased_PDF_Export_addin.RGB72dpi" image="Images\cube-128.png" message="Export current page in RGB at 72 dpi to a hard-coded directory." tip="Export current page in RGB at 72 dpi."><Help heading="" /></Button>
        <Button caption="RGB144dpi" category="ClassBased_PDF_Export" class="RGB144dpi" id="ClassBased_PDF_Export_addin.RGB144dpi" image="Images\rgb.png" message="Export current page in RGB at 144 dpi to a hard-coded directory." tip="Export current page in RGB at 144 dpi."><Help heading="" /></Button>
        <Button caption="CMYK288dpi" category="ClassBased_PDF_Export" class="CMYK288dpi" id="ClassBased_PDF_Export_addin.CMYK288dpi" image="Images\cmyk.png" message="Export current page in CMYK at 288 dpi to a hard-coded directory." tip="Export current page in CMYK at 288 dpi."><Help heading="" /></Button>
        <Button caption="PDF_Export" category="ClassBased_PDF_Export" class="PDF_Export" id="ClassBased_PDF_Export_addin.button" image="Images\percentage2.png" message="PDF_Export" tip="PDF_Export"><Help heading="PDF_Export">PDF_Export</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="PDF_Export_Buttons" category="ClassBased_PDF_Export" id="ClassBased_PDF_Export_addin.ClassBased_PDF_Export" showInitially="true"><Items><Button refID="ClassBased_PDF_Export_addin.RGB72dpi" /><Button refID="ClassBased_PDF_Export_addin.RGB144dpi" /><Button refID="ClassBased_PDF_Export_addin.CMYK288dpi" /><Button refID="ClassBased_PDF_Export_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>