<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Annotation</Name><AddInID>{ce0c5f3a-82f6-4160-8eb9-ab41f45ec2ef}</AddInID><Description>Generate tiled annotation for data driven pages and insets.</Description><Version>0.1</Version><Image>Images\letterA.png</Image><Author>James Stephaniuk</Author><Company>EBC</Company><Date>11/24/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="Annotation_addin.py" namespace="Annotation_addin"><ArcMap>
    <Commands>
        <Button caption="Create index boxes and FGDBs for annotation" category="Annotation" class="ExtentBoxes" id="Annotation_addin.extentBoxes" image="Images\glyphicons-100-vector-path-all.png" message="Create index boxes and FGDBs for annotation" tip="Create index boxes and FGDBs for annotation"><Help heading="Create index boxes and FGDBs for annotation">Create index boxes and FGDBs for annotation</Help></Button>
        <Button caption="Generate tiled annotation using previously created extent polygons." category="Annotation" class="GenerateTiledAnno" id="Annotation_addin.tiledAnno" image="Images\bw-annotate.png" message="Generate tiled annotation using previously created extent polygons." tip="Generate tiled annotation using previously created extent polygons."><Help heading="Generate tiled annotation using previously created extent polygons.">Generate tiled annotation using previously created extent polygons.</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Annotation Toolbar" category="Annotation" id="Annotation_addin.toolbar" showInitially="true"><Items><Button refID="Annotation_addin.extentBoxes" /><Button refID="Annotation_addin.tiledAnno" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>